.navbar {
  height: 70px;
  background: #0f172a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-shadow: var(--shadow);
}

.logo {
  font-size: 24px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
}

.nav-links a:hover {
  color: #38bdf8;
}